[submodule "can"]
	path = can
	url = https://github.com/bitovi/canjs.git
[submodule "steal"]
	path = steal
	url = https://github.com/bitovi/steal.git
[submodule "jquery"]
	path = jquery
	url = https://github.com/bitovi/jquerypp.git
[submodule "documentjs"]
	path = documentjs
	url = https://github.com/bitovi/documentjs.git
[submodule "funcunit"]
	path = funcunit
	url = https://github.com/bitovi/funcunit.git
